# OS
.DS_Store

# Python
*.pyc
*.pyo

.sass-cache

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/espectro/.sass-cache
# /espectro/local_settings.py
/espectro/public/static
/espectro/public/media

# Node & Bower
npm_modules/
components/
node_modules/
